<main class="flex-shrink-0">
    <section>
        <form *ngIf="ready" action="/editVg/{{videogame.id}}" method="post" enctype="multipart/form-data">

            <div class="container" style="background-color:#f5f5f5; margin-top: 5%;  padding-bottom: 1%; ">

                <div class="col-12" style="padding-bottom: 5%;">
                    <h2 style="text-align: center; padding-top: 2%;">Edit Videogame Form</h2>
                </div>

                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div>
                            <label>Title: </label>
                            <p><textarea name="title" placeholder="title" style="width: 100%;">{{videogame.title}}</textarea></p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <label>Price: </label>
                            <p><input name="price" placeholder="price" type="number" value="{{videogame.price}}"
                                    style="width: 100%;"></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div>
                            <label>Company: </label>
                            <p><textarea name="company" placeholder="company"
                                    style="width: 100%;">{{videogame.company}}</textarea></p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <label>Continent: </label>
                            <p><textarea name="continent" placeholder="continent"
                                    style="width: 100%;">{{videogame.continent}}</textarea></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 d-flex justify-content-center">

                    <div class="col-md-8 ">
                        <div>
                            <label>New Genre: </label>
                            <select name="genre" placeholder="genre" style="width: 100%;">
                                <option value="{{videogame.genre}}" selected>No cambiar</option>
                                <option value="Estrategia">Estrategia</option>
                                <option value="Shooter">Shooter</option>
                                <option value="Accion">Accion</option>
                                <option value="Supervivencia">Supervivencia</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Rol">Rol</option>
                                <option value="Deportes">Deportes</option>
                                <option value="Construcción">Construcción</option>
                                <option value="Carreras">Carreras</option>
                                <option value="Simulacion">Simulacion</option>
                                <option value="Terror">Terror</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">

                </div>

                <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-md-8">
                        <div>
                            <label style="text-align: left !important;">Game Content: </label>
                            <p><textarea name="description" placeholder="description" rows="10"
                                    style="width: 100%;">{{videogame.description}}</textarea></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-md-8">
                        <div>
                            <label style="text-align: left !important;">Game short description: </label>
                            <p><textarea name="shortDescription" placeholder="shortDescription" rows="10"
                                    style="width: 100%;">{{videogame.shortDescription}}</textarea></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-md-8">
                        <div>
                            <label style="text-align: left !important;">In game history: </label>
                            <p><textarea name="history" placeholder="history" rows="10"
                                    style="width: 100%;">{{videogame.history}}</textarea></p>
                        </div>
                    </div>
                </div>



                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div>
                            <label>Cpu recommended: </label>
                            <p><textarea name="cpuR" placeholder="cpuR" style="width: 100%;">{{videogame.cpuR}}</textarea></p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <label>Cpu min: </label>
                            <p><textarea name="cpuM" placeholder="cpuM" style="width: 100%;">{{videogame.cpuM}}</textarea></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div>
                            <label>Ram recommended: </label>
                            <p><textarea name="ramR" placeholder="ramR" style="width: 100%;">{{videogame.ramR}}</textarea></p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <label>Ram min: </label>
                            <p><textarea name="ramM" placeholder="ramM" style="width: 100%;">{{videogame.ramM}}</textarea></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div>
                            <label>Operativ system recommended: </label>
                            <p><textarea name="ssooR" placeholder="ssooR" style="width: 100%;">{{videogame.ssooR}}</textarea></p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <label>Operativ sistem min: </label>
                            <p><textarea name="ssooM" placeholder="ssooM" style="width: 100%;">{{videogame.ssooM}}</textarea></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div>
                            <label>Gpu recommended: </label>
                            <p><textarea name="gpuR" placeholder="gpuR" style="width: 100%;">{{videogame.gpuR}}</textarea></p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <label>Gpu min: </label>
                            <p><textarea name="gpuM" placeholder="gpuM" style="width: 100%;">{{videogame.gpuM}}</textarea></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-4 ">
                        <div>
                            <label>Storage recommended: </label>
                            <p><textarea name="storageR" placeholder="storageR"
                                    style="width: 100%;">{{videogame.storageR}}</textarea></p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <label>Storage min: </label>
                            <p><textarea name="storageM" placeholder="storageM"
                                    style="width: 100%;">{{videogame.storageM}}</textarea></p>
                        </div>
                    </div>
                </div>

                <!-- <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-md-8">
                        <p>Related News: </p>
                        <select name="notices" multiple style="width: 100%;">
                            {{#news}}
                            <option value="{{ id }}">{{ title }}</option>
                            {{/news}}
                        </select>
                    </div>
                </div> -->


                <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-4 ">
                        <p>Videogame Image: </p>
                        <p>
                            <input type='file' name='imageField' accept=".jpg, .jpeg .png .svg" />
                        </p>
                    </div>

                    <div class="col-4 ">
                        <p>Company Image: </p>
                        <p>
                            <input type='file' name='imageField1' accept=".jpg, .jpeg .png .svg" />
                        </p>
                    </div>
                </div>

                <!-- <input type="hidden" name="_csrf" value="{{token}}" /> -->
                <p style="text-align: center;">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <!--Boton que ejecutara la función ajax-->
                    <button class="btn btn-outline-light" style="color: black; border-color: black;"
                        onclick="location.href='/'; return false;">Cancel</button>
                    <!--Boton para cancelar la acción-->
                </p>
            </div>
        </form>
    </section>
</main>