
<section style="margin-bottom: 4%;">

  <form action="/editNew/{{news.id}}" method="post" enctype="multipart/form-data">

    <div class="container" style="background-color:#f5f5f5; margin-top: 2%;  padding-bottom: 1%; ">

      <div class="row">
        <div class="col-12" style="padding-bottom: 5%;">
          <h2 style="text-align: center; padding-top: 2%;">Edit New Form</h2>
        </div>
      </div>

      <div class="row mt-2 d-flex justify-content-center">
        <div class="col-md-4 " >
          <div>
            <label>Title: </label>
            <p><textarea name="title" placeholder="title" style="width: 100%;">[(ngModel)]="news.title"</textarea></p>
          </div>
        </div>
        <div class="col-md-4 " >
          <div>
            <label>Date: </label>
            <p><textarea name="date" placeholder="date" style="width: 100%;">[(ngModel)]="news.date"</textarea></p>
          </div>
        </div>
      </div>

      <div class="row mt-2 d-flex justify-content-center">
        <div class="col-md-4 " >
          <div>
            <label>Read Time: </label>
            <p><textarea name="readTime" placeholder="readTime" style="width: 100%;">[(ngModel)]="news.readTime"</textarea></p>
          </div>
        </div>
        <div class="col-md-4 " >
          <div>
            <label>Badge: </label>
            <p><textarea name="badge" placeholder="badge" style="width: 100%;">[(ngModel)]="news.badge"</textarea></p>
          </div>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center" >
        <div class="col-md-8">
          <div>
            <label style="text-align: left !important;">New Content: </label>
            <p><textarea name="description" placeholder="description" rows="10"
                style="width: 100%;">[(ngModel)]="news.description"</textarea></p>
          </div>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center" >
        <div class="col-md-8">
          <div>
            <label style="text-align: left !important;">New short header: </label>
            <p><textarea name="argument" placeholder="argument" rows="10"
                style="width: 100%;">[(ngModel)]="news.argument"</textarea></p>
          </div>
        </div>
      </div>




      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-8 ">
          <p>Image: </p>
          <p>
            <input type='file' name='imageField' accept=".jpg, .jpeg, .png, .svg"/>
          </p>
        </div>
      </div>

      <!--<input type="hidden" name="_csrf" value="{{token}}" />-->

      <p style="text-align: center;" >
        <input #file class="btn btn-primary" type="submit" value="Save" />
        <!--Boton que ejecutara la función ajax-->
        <button class="btn btn-outline-light" style="color: black; border-color: black;"
          onclick="location.href='/'; return false;" (click)="save()">Cancel</button>
        <!--Boton para cancelar la acción-->
      </p>
    </div>
  </form>
</section>

