<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About - GameLink</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {{>navBar}}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">¡Nosotros nos encargamos de informarte!</h1>
                                <p class="lead fw-normal text-muted mb-4">Nuestro objetivo es mantenerte dentro del mundo de los videojuegos con un solo click.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Lee nuestra historia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="Fotos/AvatarTodos.png" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder" style="color: azure;">¿Quienes somos?</h2>
                            <p class="lead fw-normal text-muted mb-0">Somos un pequeño grupo de desarrollo software apasionados por los videojuegos. Al igual que todos nuestros lectores necesitábamos un sitio donde informarnos sobre videojuegos pero también poder comprarlos, y con las mejores ofertas...como no lo encontramos, ¡lo hicimos!</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://images.vexels.com/media/users/3/145821/isolated/preview/44247e29bf035ece825b8b2bf8af88c2-ilustracion-de-cohete-ilustracion-de-cohete.png" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Crecimiento &amp; Desarrollo</h2>
                            <p class="lead fw-normal text-muted mb-0">Poco a poco hemos ido creciendo y con vuestra ayuda ya somos más de ¡10.000! usuarios. Gracias a esto hemos ido desarrollandonos desde una pequeña Web para visualizar noticias hasta ser los primeros en traer exclusivas noticias y jugosos descuentos. ¡GRACIAS!</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder" style="color: azure;">Nuestro equipo</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicados a la calidad y el éxito</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center"> <!-- FALTAN LAS CARICATURAS DE-->
                                <img class="img-fluid rounded-circle mb-4 px-4" src="Fotos/AvatarAndrea.PNG" alt="..." />
                                <h5 class="fw-bolder" style="color: azure;">Andrea Acuña</h5>
                                <div class="fst-italic text-muted">Desarrolladora &amp; CEO</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="Fotos/AvatarJhostin.PNG" alt="..." />
                                <h5 class="fw-bolder" style="color: azure;">Jhostin Davis</h5>
                                <div class="fst-italic text-muted">Desarrollador &amp; CFO</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="Fotos/AvatarMani.png" alt="..." />
                                <h5 class="fw-bolder" style="color: azure;">Mani Patel</h5>
                                <div class="fst-italic text-muted">Desarrollador &amp; Manager</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="Fotos/AvatarJuan.PNG" alt="..." />
                                <h5 class="fw-bolder" style="color: azure;">Juan Rico</h5>
                                <div class="fst-italic text-muted">Desarrollador &amp; Operations Manager</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="Fotos/avatarCarlos.PNG" alt="..." />
                                <h5 class="fw-bolder" style="color: azure;">Carlos Fuentes</h5>
                                <div class="fst-italic text-muted">Desarrollador &amp; CTO</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; GameLink 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
