<section>

  <form action="/editVg/{{id}}" method="post" enctype="multipart/form-data">

    <div class="container" style="background-color:#f5f5f5; margin-top: 5%;  padding-bottom: 1%; ">
      <div class="col-12" style="padding-bottom: 5%;">
        <h2 style="text-align: center; padding-top: 2%;">Edit Videogame Form</h2> 
      </div>
      <div class="row" style="margin-left: 20%;">

        <div class="col-6" >
          <div>
            <label>Title: </label>
            <p><textarea name="title" placeholder="title" style="width: 50%;">{{title}}</textarea></p>
          </div>
        </div>
        <div class="col-6">
          <div>
            <label>Price: </label>
            <p><input name="price" placeholder="price" type="number" value="{{price}}"  style="width: 50%;"></input></p>
          </div>
        </div>
      </div>

      <div class="row " style="margin-left: 20%;">
        <div class="col-12 ">
          <div>
            <label style="text-align: left !important;">New Content: </label>
            <p><textarea name="description" placeholder="description" rows="10"
                style="width: 75%;">{{description}}</textarea></p>
          </div>
        </div>
      </div>

      <div class="row" style="margin-left: 20%;">
        <div class="col-12">
          <p>Related News: </p>
          <select name="notices" multiple style="width: 75%;">
            {{#news}}
            <option value="{{ id }}">{{ title }}</option>
            {{/news}}
          </select>
        </div>
      </div>


      <div class="row" style="margin-left: 20%;">
        <div class="col-12 ">
          <p>Image: </p>
          <p>
            <input type='file' name='imageField' accept=".jpg, .jpeg .png .svg" />
            <input type="hidden" name="_csrf" value="{{token}}" />
          </p>
        </div>
      </div>

      <p style="text-align: center;" >
        <input class="btn btn-primary" type="submit" value="Save" />
        <!--Boton que ejecutara la función ajax-->
        <button class="btn btn-outline-light" style="color: black; border-color: black;"
          onclick="location.href='/'; return false;">Cancel</button>
        <!--Boton para cancelar la acción-->
      </p>
    </div>
  </form>
</section>