<!DOCTYPE html>
<html>
    {{>header}}

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand">GameLink</a>
        </div>
    </nav>
    <div class="es-wrapper-color">
        <table class="container px-5" width="100%" height="100%">
            <tbody>
                <tr>
                    <td  style="color: black; border-color: white; border: 2px; text-align: center">
                        <h1 style="font-size: 55px;">ERROR :3</h1>
                    </td>
                </tr>
                <tr>
                    <td class="container px-5" style=" text-align: center; font-size: 0px;"><a><img src="Photos/errorMessage.gif" style="display: block;" width="400"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Footer-->
    {{>footer}}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>