<!DOCTYPE html>
<html lang="en">
    {{>header}}
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {{>navBar}}
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Tienda y noticiero de videojuegos</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Tu lugar para informarte de los avances en tus videojuegos favoritos y donde poder obtenerlos.</p><p class="lead fw-normal text-white-50 mb-4">Como el esperado Elden Ring, un mundo abierto que promete jugabilidad parecida al dark souls con nuevas mecanicas y más.</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="Photos/eldenRing.webp" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5" >
                    <div class="row gx-5">
                        <div class="col-lg-12 mb-5 mb-lg-0" style="padding-bottom: 3em;"><h2 class="fw-bolder mb-0" style="text-align: center;">Nuestros videojuegos destacados.</h2></div>
                        <div class="col-lg-12 align-self-center">
                            <div id="gamesDisplay" class="carousel slide" data-bs-ride="carousel">

                                <!-- Indicators/dots -->
                                <div class="carousel-indicators">
                                  <button type="button" data-bs-target="#gamesDisplay" data-bs-slide-to="0" class="active"></button>
                                  <button type="button" data-bs-target="#gamesDisplay" data-bs-slide-to="1"></button>
                                  <button type="button" data-bs-target="#gamesDisplay" data-bs-slide-to="2"></button>
                                </div>
                                
                                <!-- The slideshow/carousel -->
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="Photos/lostark.jpg" alt="Lost Ark" class="d-block" style="width:100%">
                                    <div class="carousel-caption">
                                        <h3>Lost Ark</h3>
                                        <p>Adentrate a un mundo de fantasia con tus amigos y lucha por la paz de Arkadia</p>
                                      </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img src="Photos/archeAge.jpg" alt="Archeage 2" class="d-block" style="width:100%">
                                    <div class="carousel-caption">
                                        <h3>Archeage 2</h3>
                                        <p>Si te gustó Archeage, este es tu juego</p>
                                      </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img src="Photos/pokemonArceus.jpg" alt="New York" class="d-block" style="width:100%">
                                    <div class="carousel-caption">
                                        <h3>Leyendas Pokemon Arceus</h3>
                                        <p>Pokemon + mundo abierto, no hay nada más que decir.</p>
                                      </div>
                                  </div>
                                </div>
                                
                                <!-- Left and right controls/icons -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#gamesDisplay" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#gamesDisplay" data-bs-slide="next">
                                  <span class="carousel-control-next-icon"></span>
                                </button>
                              </div>
                              
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-purple">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic text-white">"Un sitio para gamers. Creado, mantenido y cuidado por gamers."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold text-white-50">
                                        Andrea Acuña, Carlos Fuentes, Jhostin Ortiz, Juan Rico, Mani Patel.
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        CEOS de GameLink
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Las noticias más recientes.</h2>
                                <p class="lead fw-normal text-muted mb-5" style="color: black !important;">Aqui encontrará las noticias destacadas más recientes de nuestro noticiario sobre videojuegos.</p>
                            </div>
                        </div>
                    </div>              
                    <div class="row gx-5">                               
                        {{>newsTemplate}}
                    </div>
                    <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">Te ponemos al día sobre tus juegos favoritos y más.</div>
                                <div class="text-white-50">Suscribete gratuitamente a nuestro noticiero.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Dirección de correo..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">Suscribirse</button>
                                </div>
                                <div class="small text-white-50">Nos preocupamos por vuestra seguridad, no compartiremos información personal.</div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
        </main>
        <!-- Footer-->
        {{>footer}}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
