<!DOCTYPE html>
<html lang="en">

    {{>header}}

<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="home.html">GameLink</a>
        </div>
    </nav>
    <table class="es-content-body" width="600" align="center">
        <tbody>
            <tr>
                <td class="container px-5" id="confirmPaymentBox1">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <div class="esd-text" align="center">
                                    <h2><span style="font-size:30px;"><strong>CONFIRMACION DE COMPRA</strong></span><br></h2>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container px-5" id="confirmPaymentBox2y3">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td class="esd-block-text" align="center">
                                    <h3>Producto Comprado<br></h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container px-5" id="confirmPaymentBox2y3">
                    <table width="50%" align="left">
                        <tbody>
                            <tr>
                                <td class="esd-block-image" align="center"><a target="_blank"><img class="adapt-img" src="https://image.api.playstation.com/vulcan/ap/rnd/202107/1612/0b0owDFqekJszSOQfD4vvTjy.png" width="50%"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="50%" align="right">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <p><span style="font-size:16px;"><strong style="line-height: 150%;">Elden Ring</strong></span></p>
                                    <p>Desarrollador: FromSoftware</p>
                                    <p>Edicion: Estandar</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p><span style="font-size:15px;"><strong style="line-height: 150%;">Precio:</strong> 49.99€</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container px-5" id="confirmPaymentBox2y3">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td class="esd-container-frame" width="580" valign="top" align="center">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="border-bottom: 1px solid #191919; height: 1px; width: 100%; margin: 0px;"></td>
                                            </tr>
                                            <tr>
                                                <td class="esd-block-text es-p15b" align="center">
                                                    <table class="cke_show_border" width="240" height="101" cellspacing="1" cellpadding="1" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td><strong>Precio:</strong></td>
                                                                <td style="text-align: right;">49.99€</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Descuento:</strong></td>
                                                                <td style="text-align: right;">-0€ (0%)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span style="font-size: 18px; line-height: 200%;"><strong>Total:</strong></span></td>
                                                                <td style="text-align: right;"><span style="font-size: 18px; line-height: 200%;"><strong>49.99€</strong></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container px-5" id="confirmPaymentBox4y5">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="580" valign="top" align="center">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <h3>Informacion y Confirmacion de Compra</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container px-5" id="confirmPaymentBox4y5" align="center">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td class="esd-block-text" align="left">
                                    <p><strong>Usuario:</strong> JhostinGuapo</p>
                                    <p><strong>Codigo Postal:</strong> 12345</p>
                                    <p><strong>Pais:</strong> España</p>
                                    <p><strong>Dia de la Compra:</strong> 18/02/22</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" id="confirmPaymentFinalBox">
                    <button type="button" id="confirmPaymentFinalButton" onclick="buyProduct()"><p style="margin: auto; color: white;">COMPRAR</p></button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Footer-->
    {{>footer}}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>