<!DOCTYPE html>
<html lang="en">

{{>header}}
{{#videogame}}
<body class="d-flex flex-column h-100" style="background-color:#f5f5f5;">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {{>navBar}}
        <!-- Header-->
        <header class="bg-dark py-5" style="background-color: #454546 !important;">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-xl-4 col-xxl-5 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                            src="/videogame/{{id}}/imageVg" alt="..." /></div>
                    <div class="col-lg-6 col-xl-5 col-xxl-4">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">{{title}}</h1>
                            <p class="lead fw-normal text-white-50 mb-4" style="color: aliceblue !important;">{{shortDescription}}</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-xxl-3 d-none d-xl-block text-center">
                        <p class="lead fw-normal text-white-50 mb-4"
                            style="color: aliceblue !important; font-size: 2em !important;"> Precio: {{price}}</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <p><a class="btn btn-primary btn-lg px-4 me-sm-3" id="payButton"
                                    onclick="verifySingin()">Comprar ya <span style="color: grey;">{{price}}</span></a></p>
                            <p><a class="btn btn-outline-light btn-lg px-4" href="">Plan de compra</a></p>
                        </div>
                        {{#logged}}
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <form action="/videogameRating/{{id}}" method="post">
                                <div class="star_content-sm-center">
                                    <input name="rate" value="1" type="radio" class="star" />
                                    <input name="rate" value="2" type="radio" class="star" />
                                    <input name="rate" value="3" type="radio" class="star" />
                                    <input name="rate" value="4" type="radio" class="star" />
                                    <input name="rate" value="5" type="radio" class="star" />
                                    Puntuación media: {{ratingValue}} (sobre 5)
                                </div>
                                <input type="submit" name="submitRatingStar" id="submitRatingStar" class="btn btn-primary btn-sm"></input>
                                <input type="hidden" name="_csrf" value="{{token}}"/>   
                            </form>
                        </div>
                        {{/logged}}   
                        {{^logged}}
                        <div class="sign-up">
                            <a href="/login" class="btn btn-primary btn-sm">Inicie sesión para puntuar</a>
                        </div>
                        {{/logged}}
                    </div>
                </div>
            </div>
        </header>


        {{#isAdmin}}
        <section class="pt-0 MoreInfo">
            <div class="container-fluid px-5 my-5">
                <div class="row justify-content-center" style=" background-color: rgb(27, 31, 31); margin-bottom: 2%;">
                    <div class="col-5 text-center" >
                        <p class="lead fw-normal text-white-50 mb-4"
                            style="color: aliceblue !important; font-size: 2em !important; margin-top: 5%;"> Admin Actions :
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/deleteVg/{{id}}" style="margin-top: auto;">Eliminar                 
                            <a class="btn btn-outline-light btn-lg px-4" href="/editVg/{{id}}" style="margin-top: auto;">Editar</a>
                        </p>

                    </div>
                </div>
            </div>
        </section>

        {{/isAdmin}}

        <!-- MoreInfo-->
        <section class="pt-0 MoreInfo"
            style="margin-left: 10%; margin-right: 10%; background-color: #FFFFFF !important;">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-auto">
                        <h1 style="padding-bottom: 10px;">Descripción del producto</h1>
                        <p class="">
                            {{description}}
                        </p>
                        <h2 class="tab1">Historia</h2>
                        <p class="tab1">
                            {{history}}
                        </p>
                    </div>
                </div>
                <!--Requsisitos-->
                <div class="row gx-5 justify-content-center" style="margin-top: 5%;">
                    <div class="col-auto">
                        <h1 style="padding-bottom: 10px;">Requisitos Recomendados</h1>
                        <ul>
                            <li><strong>Procesador o CPU:</strong> {{cpuR}}</li>
                            <li><strong>Memoria RAM:</strong> {{ramR}}</li>
                            <li><strong>Sistema operativo:</strong> {{ssooR}}</li>
                            <li><strong>Tarjeta gráfica:</strong> {{gpuR}}
                            </li>
                            <li><strong>Espacio disponible en disco:</strong> {{storageR}}</li>
                        </ul>
                    </div>

                    <div class="col-auto">
                        <h1 style="padding-bottom: 10px;">Requisitos Minimos</h1>
                        <ul>
                            <li><strong>Procesador o CPU:</strong> {{cpuM}}</li>
                            <li><strong>Memoria RAM:</strong> {{ramM}}</li>
                            <li><strong>Sistema operativo:</strong> {{ssooM}}</li>
                            <li><strong>Tarjeta gráfica:</strong> {{gpuM}}
                            </li>
                            <li><strong>Espacio disponible en disco:</strong> {{storageM}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {{/videogame}}
        <!--Noticias Relacionadas-->
        <section class="pt-0 MoreInfo"
            style="margin-left: 10%; margin-right: 10%; background-color: inherit !important; text-align: center;">
            <h1 style="padding-bottom: 10px;">Noticias destacadas sobre este Titulo.</h1>
            <div class="container px-5 my-5" style="margin-bottom: 0px !important ;">
                <div class="row gx-5 justify-content-center">

                    {{>newsTemplate}}  

                </div>
            </div>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center">
                <p><a class="btn btn-primary btn-lg px-4 me-sm-3" href="">Cargar Más</a></p>
            </div>
        </section>
    </main>

    <!-- Footer-->
    {{>footer}}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>

</html>