<!DOCTYPE html>
<html lang="en">
    {{>header}}

    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {{>navBar}}
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <h2 class="fw-bolder fs-5 mb-4">Videojuegos</h2>
                    <div class="row gx-5">
                        {{>videogameTemplate}}
                    </div>
                    <div class="text-end mb-5 mb-xl-0">
                        <a class="text-decoration-none" href="#!">
                            Más videojuegos
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        {{>footer}}
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
