<!DOCTYPE html>
<html lang="en">
    {{>header}}
    
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {{>navBar}}
            <!--Page content-->
            <section class="py-5">
                <!--Gráficos-->
                <div class="container px-5 mb-5">
                    <h2 class="fw-bolder fs-5 mb-4">Gráficos</h2>
                    <div class="row gx-5 align-items-center">
                        <div class="chart-wrap horizontal"> <!-- quitar el estilo "horizontal" para visualizar verticalmente -->
                            <div class="grid">
                                <div class="bar" style="--bar-value:75%;" data-name="Elden Ring" title="Elden Ring 85%"></div>
                                <div class="bar" style="--bar-value:23%;" data-name="CS:GO" title="CS:GO 23%"></div>
                                <div class="bar" style="--bar-value:60%;" data-name="GTA V" title="GTA V 60%"></div>
                                <div class="bar" style="--bar-value:90%;" data-name="Minecraft" title="Minecraft 90%"></div>
                                <div class="bar" style="--bar-value:35%;" data-name="God Of War" title="God of War 35%"></div>
                                <div class="bar" style="--bar-value:75%;" data-name="Escape from Tarkov" title="Escape from Tarkov 75%"></div>
                                <div class="bar" style="--bar-value:65%;" data-name="Lost Ark" title="Lost Ark 65%"></div>
                                <div class="bar" style="--bar-value:60%;" data-name="Star Wars Jedi Fallen Order" title="Star Wars Jedi Fallen Order 60%"></div>
                            </div>
                        </div>

                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte"><div class="quesito" data-rel="Shooter"></div></div>
                            <div id="porcion2" class="recorte"><div class="quesito" data-rel="Estrategia"></div></div>
                            <div id="porcion3" class="recorte"><div class="quesito" data-rel="Rol"></div></div>
                            <div id="porcionFin" class="recorte"><div class="quesito" data-rel="Acción"></div></div>
                       </div>                       
                    </div> 
                </div>
                <!--Videojuegos más comprados-->
                <div class="container px-5">
                    <div id="moreImages" class="row gx-5">
                        {{>videogameTemplate}}
                    </div>
                    <div class="text-end mb-5 mb-xl-0">
                        <a class="text-decoration-none" href="#!">
                            <a id="moreRecomendedVideogame" class="btn btn-secondary button">
                                <i class="fa fa-eye"></i> Más contenido
                            </a>
                            <div id="loader"></div>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        {{>footer}}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
