<section class="bg-light py-5">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder text-white">Inicio de sesión</h1>
      <p class="lead fw-normal text-white-75 mb-0">Bienvenido cliente, ¡te estábamos esperando!</p>
    </div>
    <div class="row gx-10 justify-content-center">
      <div class="col-lg-12">
        <div class="card mb-5 mb-xl-0">
          <div class="card-body p-5">
            <div class="global-container">
              <div class="card login-form">
                <div class="card-body">
                  <h3 class="card-title text-center">Login</h3>
                  <div class="card-text">
                    <form>
                      <!-- to error: add class "has-danger" -->
                      <div class="form-group">
                        <label>Nombre Usuario:</label>
                        <input #user type="text" name="username" class="form-control form-control-sm"
                          placeholder="Username" id="exampleInputEmail1"><br />
                      </div>
                      <div class="form-group">
                        <label>Contraseña</label>
                        <input #pass type="password" name="password" class="form-control form-control-sm"
                          placeholder="Password" id="exampleInputPassword1">
                        <br />
                        <a href="login" style="float:right;font-size:12px;">¿Olvidaste tu contraseña?</a>
                        <br />
                      </div>
                      <!-- button to send the information-->
                      <button type="submit" (click)="logIn($event, user.value, pass.value)"
                        class="btn btn-default">Login</button>
                      <div class="sign-up">
                        ¿No tienes cuenta? <a [routerLink]="['/signup']">¡Créate una!</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
