<section class="bg-light py-5">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder text-white">Registrate gratis</h1>
      <p class="lead fw-normal text-white-75 mb-0">¿No estás registrado todavía? Rellena los formularios y disfruta de
        una experiencia personalizada en nuestra web.</p>
    </div>
    <div class="row gx-10 justify-content-center">

      <div class="col-lg-12">
        <div class="card mb-5 mb-xl-0">
          <div class="card-body p-5">
            <div class="global-container">
              <div class="card login-form">
                <div class="card-body">
                  <h3 class="card-title text-center">Registro</h3>
                  <div class="card-text">
                    <form *ngIf="!loginService.isLogged()">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nick</label>
                        <input #nick name="nick" type="text" class="form-control form-control-sm"
                          id="exampleInputEmail1" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input #name name="name" type="text" class="form-control form-control-sm"
                          id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Apellidos</label>
                        <input #lastName name="lastName" type="text" class="form-control form-control-sm"
                          id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Correo electrónico</label>
                        <input #email name="email" type="email" class="form-control form-control-sm"
                          id="exampleInputEmail1" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input #pass name="password" type="password" class="form-control form-control-sm"
                          id="inputPassword1" onkeyup="check()" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Confirmación contraseña</label>
                        <input #pass type="password" class="form-control form-control-sm" id="inputPassword2"
                          onkeyup="check()" required>
                        <span id="passwordMessage"></span>
                      </div>
                      <button type="submit" (click)="createUser($event, nick.value, name.value, lastName.value, email.value,
                                                                                        pass.value)"
                        class="btn btn-default">registrarse</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
