
        <div *ngIf="user" class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px" [src]="userImage()"><span
                            class="font-weight-bold">"{{user.nick}}"</span><span class="text-black-50">"{{user.email}}"</span><span>
                        </span>
                        <button (click)="save()">Save</button>
                        <button (click)="cancel()">Cancel</button>
                    </div>
                </div>

                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <form *ngIf="user">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Mi perfil: "{{user.nick}}"</h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Nombre</label>
                                        <h3>"{{user.name}}"</h3>
                                </div>
                                <div class="col-md-6"><label class="labels">Apellido(s)</label>
                                        <h3>"{{user.lastName}}"</h3>
                                </div>
                            </div>
                            <div class="row mt-3">
                                
                                <div class="col-md-12"><label class="labels">Nombre de usuario</label>
                                    <input name="nick" type="text" class="form-control" placeholder="RodPerez" [(ngModel)]="user.nick">
                                </div>

                                <div class="col-md-12"><label class="labels">Email</label>
                                    <input name="email" type="email" class="form-control" placeholder="RodPerez@gmail.com" [(ngModel)]="user.email">
                                </div>


                                <div class="col-md-12"><label class="labels">Número de tarjeta</label>
                                    <input *ngIf="user.creditCard" name="creditCard" type="text" class="form-control" placeholder="123456789A" [(ngModel)]="user.creditCard">
                                </div>

                                <div class="col-md-12">
                                    <p>Imagen de perfil</p>
                                    <input #file type='file' name='imageField' accept=".jpg, .jpeg, .png, .svg" />
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="mt-5 text-center">
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <h4 *ngIf="videogame" class="text-right">Mis compras:</h4>
                    <div *ngFor="let vg of videogame"  class="d-flex justify-content-between align-items-center mb-3">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-fluid rounded-3 my-5" [src]="videogameImage(vg)"/>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <p>"{{vg.title}}"</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary profile-button m-3" (click)="logOut()" type="button">Log Out</button>

